.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab:hover {
    background-color: #bbb;
  }
  
  .active-tab {
    background-color: #999;
  }

  .header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
  }

  .shinyCheckbox {
    text-align: end;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .btn_top {
    margin-bottom: 20px;
    font-size: 1.5em;
    margin-top: 25px;
    text-align: end;
    float: right;
  }
  