.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.5em;
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(125, 184, 218, 0.981);
  }
  
  .pokemon-card img {
    width: 50px;
    height: 50px;
  }
  
  .pokemon-card h2 {
    font-size: 0.8rem;
  }

  .unreleased {
    /* filter: grayscale(25%); */
    opacity: 0.5;
}

.pokemon-type {
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.pokemon-type.poison {
  background-color: rgb(145, 27, 145);
}

.pokemon-type.fire {
  background-color: rgb(222, 151, 18);
}

.pokemon-type.water {
  background-color: rgb(20, 133, 174);
}

.pokemon-type.grass {
  background-color: rgb(32, 162, 32);
}

.pokemon-type.ghost{
  background-color: rgb(54, 37, 110);
}

.pokemon-type.electric {
  background-color: rgb(213, 213, 18);
}

.pokemon-type.dark {
  background-color: rgb(36, 8, 8);
}

.pokemon-type.fairy {
  background-color: rgb(232, 6, 198);
}

.pokemon-type.fighting {
  background-color: rgb(246, 28, 28);
}

.pokemon-type.dragon {
  background-color: rgb(52, 75, 223);
}

.pokemon-type.steel {
  background-color: rgba(145, 147, 126, 0.864);
}

.pokemon-type.bug {
 background-color: rgb(58, 195, 87);
}

.pokemon-type.flying {
  background-color: rgb(148, 201, 218);
}

.pokemon-type.ice {
  background-color: rgb(8, 238, 238);
}

.pokemon-type.normal {
  background-color: rgb(145, 145, 145);
}

.pokemon-type.psychic {
  background-color: rgb(192, 81, 151);
}

.pokemon-type.rock {
  background-color: rgba(205, 148, 88, 0.711);
}

.pokemon-type.ground {
  background-color: rgb(231, 146, 27);
}